<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
 	<meta charset="UTF-8"/>
 	<title>Datos agente</title>
</head>
<body>
<h1>Datos agente</h1>
	<form method="POST" action="/confirmEmail" >
		<label for="email"><strong>Correo:</strong> </label>
		<input type="text" name="email" th:value="${session.agent.email}"/>
		<input type="submit" name="cambiarEmail" value="Cambiar email"/>
	</form>
	
	<p><strong>Nombre:</strong> <span th:text="${agent.nombre}"></span></p>
	<p><strong>Localizacion:</strong> <span th:text="${agent.location.latitud ; session.participan.location.longitud}"></span></p>
	<p><strong>Email::</strong> <span th:text="${agent.email}"></span></p>
	<p><strong>Tipo de usuario:</strong> <span th:text="${agent.tipo}"></span></p>
	
	<i><span th:if="${info != null}" th:text="${info}">Info</span></i>
	
	<br/>
	<br/>
	<form method="POST" action="/changeInfo" >
		<input type="submit" name="cambiarContraseña" value="Cambiar contraseña"/>
	</form>
</body>
</html>
